{% assign awards = site.data.awards | sort: 'year' | reverse %}
<ul class="awards-list" aria-label="Awards and honors">
  {% for award in awards %}
    <li class="award-item">
      {% if award.year %}<time class="award-year" datetime="{{ award.year }}">[{{ award.year }}]</time>{% endif %}
      {% if award.url %}
        <a class="award-title" href="{{ award.url }}">{{ award.title }}</a>
      {% else %}
        <span class="award-title">{{ award.title }}</span>
      {% endif %}
      {% if award.description %}<p class="award-description">{{ award.description }}</p>{% endif %}
    </li>
  {% endfor %}
</ul>
