<header>
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}" role="navigation">
    <div class="container">
      {% if page.permalink != '/' %}
        <a class="navbar-brand title font-weight-lighter" href="{{ '/' | relative_url }}">
          {% if site.title == 'blank' %}
            {% if site.first_name %}<span class="font-weight-bold">{{ site.first_name }}</span>{% endif %}
            {% if site.middle_name %} {{ site.middle_name }}{% endif %}
            {% if site.last_name %} {{ site.last_name }}{% endif %}
          {% else %}
            {{ site.title }}
          {% endif %}
        </a>
      {% elsif site.enable_navbar_social %}
        <div class="navbar-brand social">{% social_links %}</div>
      {% endif %}

      <button
        class="navbar-toggler collapsed navbar-toggler-main"
        type="button"
        data-nav-toggle="navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse navbar-collapse-main" id="navbarNav">
        <ul class="navbar-nav navbar-menu-list flex-nowrap">
          <li class="nav-item {% if page.nav_section == 'about' or page.permalink == '/' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              Home{% if page.nav_section == 'about' or page.permalink == '/' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.nav_section == 'publications' %}active{% endif %}">
            <a class="nav-link" href="{{ '/publications/' | relative_url }}">
              Publications{% if page.nav_section == 'publications' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>
          <li class="nav-item {% if page.nav_section == 'events' %}active{% endif %}">
            <a class="nav-link" href="{{ '/events/' | relative_url }}">
              Events{% if page.nav_section == 'events' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
          </li>

          {% if site.search_enabled %}
            <li class="nav-item">
              <button id="search-toggle" type="button" title="Search" aria-label="Open search">
                <span class="nav-link">ctrl k <i class="fa-solid fa-magnifying-glass"></i></span>
              </button>
            </li>
          {% endif %}
          {% if site.enable_darkmode %}
            <li class="toggle-container">
              <button
                id="light-toggle"
                type="button"
                title="Change theme (system / light / dark)"
                aria-label="Change color theme: system, light, or dark"
              >
                <i class="fa-half-sun-moon" id="light-toggle-system"></i>
                <i class="fa-solid fa-moon" id="light-toggle-dark"></i>
                <i class="fa-solid fa-sun" id="light-toggle-light"></i>
              </button>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if site.enable_progressbar %}
    <progress id="progress" value="0">
      <div class="progress-container"><span class="progress-bar"></span></div>
    </progress>
  {% endif %}
</header>
